/* label color */
.input-field label {
	color: #727272;
}
/* label focus color */
.input-field input[type=text]:focus+label, .input-field input[type=password]:focus+label
	{
	color: #ff5722;
}
/* label underline focus color */
.input-field input[type=text]:focus, .input-field input[type=password]:focus
	{
	border-bottom: 1px solid #ff5722;
	box-shadow: 0 1px 0 0 #ff5722;
}

/* icon prefix focus color */
.input-field .prefix.active {
	color: #ff5722;
}

.background {
   background:url("../img/background1.jpg") no-repeat 0% 0%;
   background-size:cover;
}

/*fix search bar*/
nav .nav-wrapper form, nav .nav-wrapper form .input-field{
	height: 64px;
}